@inherits LayoutComponentBase

@inject IStringLocalizer<App> Localizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="pr-2">@Localizer["Language"]</span>
        <LanguageComboBox />
        <AuthorizeView>
            <Authorized>
                <a href="login" @onclick="(() => Logout())">@Localizer["Logout"]</a>
            </Authorized>
            <NotAuthorized>
                <a href="login">@Localizer["Login"]</a>
            </NotAuthorized>
        </AuthorizeView>
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    public void Logout() {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}